@import "tailwindcss";

body {
  margin: 0;
  background: #2e2d2d;
  font-family: system-ui;
  color: #fff;
  display: grid;
  place-content: center;
  min-height: 100vh;
}

button {
  cursor: pointer;
}

nav{
  display: flex;
  flex-direction: row;
  gap: 15px;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}