.user-card{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
}

.user-card-header{
    display: flex;
    align-items: center;
    gap: 4px;
}

.user-card-info{
    display: flex;
    flex-direction: column;
}

.user-card-info-name {
    opacity: .6;
}

.user-card-img{
    width: 100px;
    height: 100px;
    border-radius: 1000px;
}
